<%= form_for( :org , remote: true, url: link, method: type) do |f| %>
    <div>
        <%= f.text_field :name, placeholder: :name, class: 'el-input__inner' %>
    </div> <br />

    <div>
        <%= f.text_field :icon, placeholder: :icon, class: 'el-input__inner' %>
    </div> <br />

    <div>
        <%= f.submit 'Submit', class: 'el-button el-button--primary' %>
    </div>
<% end %>
