// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.w-sm {
  width: 200px !important;
}

.selectors {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
